# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64
__pycache__
.pytest_cache

# Installer logs
pip-log.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Python virtual environments
venv/

# Serverless
.env.yml
.serverless/
node_modules/
package-lock.json

# vscode
.vscode/
